.players_name:not(:last-of-type) {
	border-right: white 2px;
}

.roundrect .up {
	border-radius: 2rem 2rem 0 0;
}

.roundrect .down {
	border-radius: 0 0 2rem 2rem;
}

.roundrect .count {
	border-radius: 0.5rem 0.5rem;
}

.chev .up {
	border-radius: 50% 50% 0 0;
}

.chev .down {
	border-radius: 0 0 50% 50%;
}

.chev .count {
	border-radius: 100%/50%;
}

.circle .up {
	border-radius: 10rem 10rem 0 0;
}

.circle .down {
	border-radius: 0 0 10rem 10rem;
}

.circle .count {
	border-radius: 50%;
}

.vote {
	display: flex;
	flex-direction: column;
	font-family: "Noto Sans";
	position: relative;
	width: 3rem;
	height: 3rem;
}

.increment {
	flex: 1 0 0;
	text-align: center;
	opacity: 0.5;
	transition: 0.3s;
	cursor: pointer;
}

.increment.up {
	background: #4bc35f;
	height: 50%;
	margin-bottom: 0.25rem;
}

.increment.down {
	background: #c15044;
	height: 50%;
}

.increment:hover {
	opacity: 1;
}

.count {
	position: absolute;
	top: 0;
	border-radius: 0.1rem;
	margin: 1rem;
	background: #f6f3e4;
	color: #1B2838;
	width: 1rem;
	font-size: 1rem;
	font-weight: bold;
	line-height: 1rem;
	text-align: center;
	box-shadow: 0 0 0 0.5rem #f6f3e4;
	pointer-events: none;
}

.count.upvoted {
	color: #4bc35f;
}

.count.downvoted {
	color: #c15044;
}

.bump {
	-webkit-animation: bump 200ms;
	animation: bump 200ms;
}

@-webkit-keyframes bump {
	30% {
		transform: scale(1.2);
	}
}

@keyframes bump {
	30% {
		transform: scale(1.2);
	}
}

* {
	box-sizing: border-box;
}

.steambutton {
	display: block;
	background-color: #6f9f31;
	width: 270px;
	height: 50px;
	line-height: 50px;
	margin: auto;
	color: #fff;
	position: absolute;
	cursor: pointer;
	overflow: hidden;
	border-radius: 5px;
}

.steambutton span {
	font-family: 'Exo 2', sans-serif;
	font-weight: bold;
	letter-spacing: 0.1em;
	width: 75%;
	font-size: 14px;
	text-transform: uppercase;
	left: 0;
	-webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
	transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}

.steambutton span,
.steambutton .icon {
	display: block;
	height: 100%;
	text-align: center;
	position: absolute;
	top: 0;
}

.steambutton .icon .fa {
	font-size: 30px;
	line-height: 50px;
	-webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
	transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
}

.steambutton .icon {
	width: 25%;
	right: 0;
	-webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
	transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}

.steambutton span,
.steambutton .icon {
	display: block;
	height: 100%;
	text-align: center;
	position: absolute;
	top: 0;
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
}

.steambutton span:after {
	content: '';
	background-color: #5d8628;
	width: 2px;
	height: 70%;
	position: absolute;
	top: 15%;
	right: -1px;
}

.steambutton.success span,
.steambutton:hover span {
	left: -72%;
	opacity: 0;
}

.steambutton.success .icon,
.steambutton:hover .icon {
	width: 100%;
}

.steambutton.success .icon .fa,
.steambutton:hover .icon .fa {
	font-size: 45px;
}

.loading {
	z-index: 20;
	position: absolute;
	top: 0;
	left: -5px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.loading-content {
	position: absolute;
	border: 16px solid #f3f3f3;
	/* Light grey */
	border-top: 16px solid #3498db;
	/* Blue */
	border-radius: 50%;
	width: 50px;
	height: 50px;
	top: 40%;
	left: 50%;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
